/* ANCHOR Set Variables */

body {
    --color-TEST: rgb(232, 57, 255);
    --color-background-dark: #f5f4f3;
    --color-background-middle: #f5f4f396;
    --color-background-light: #fff;
    --color-background-red-dark: #dc3545;
    --color-background-red-light: #f8d7da;
    --color-border-red: #f5c6cb;
    --color-background-green-dark: #28a745;
    --color-background-green-light: #d4edda;
    --color-border-green: #c3e6cb;
    --color-input-hover: #badbeb;
    --color-main: #df4807;
    --color-second: #021e30;
    --color-third: #fff;
    --color-background-footer: #5c606d;
    --color-button: #0d719e;
    --color-button-hover: #259ad0;
    --color-border-gray: #cfcfcf;
    --color-border-blue: #259ad0;
    --border-radius: 10px;
    --size-margin-between: 5px;
    --size-margin-between-double: 10px;
    --size-padding-between: 10px;
    --size-padding-between-half: 5px;
    --size-spacing-table: 3px;  
}